body {
  background-color: black;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s forwards;
  zoom: 1.4;

  background-image: url('Sfondo.jpg');
  background-size: cover;            
  background-position: center;          
  background-repeat: no-repeat;        
  background-attachment: fixed;
}
header{
	display:flex;
  flex-direction: column;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items:center;
	font-family: 'Helvetica', sans-serif;
	color:#777;
	text-transform: uppercase;
}
.main-menu a:hover,
.main-menu .current{
	list-style-type: none;
	color: #00ffff;
    transform: scale(1.1);
}
.main-menu{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.main-menu li {
	display: inline-block;
	margin-right: 50px;
    margin-top: 20px;
}
.main-menu a {
	text-decoration: none;
	color: white;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.2s ease;
    display: inline-block;
}
.Formazione {
	margin: 70px 100px 50px 100px;
	padding: 20px;
	background-color: #1a1a1a;
	border-radius: 15px;
	box-shadow: 0 0 15px #00ffff;
}
.Formazione ul {
	list-style-type: square;
	margin-left: 40px;
	font-size: 20px;
}
.Formazione li {
	margin-bottom: 15px;
	list-style-type: disc;
}
.Esperienze {
	margin: 70px 100px 50px 100px;
	padding: 20px;
	background-color: #1a1a1a;
	border-radius: 15px;
	box-shadow: 0 0 15px #00ffff;
}
.highlight {
	color: #00ffff;
	font-weight: bold;

}
.Esperienze ul {
	list-style-type: square;
	margin-left: 40px;
	font-size: 20px;
}
.Esperienze li {
	margin-bottom: 15px;
	list-style-type: disc;
}
.Esperienze h2, .Formazione h2 {
	text-align: left;
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 36px;
	color: #00ffff;
	text-shadow: 0 0 10px #00ffff;
}
.FotoProfilo_1 img{
	display: flex;
	width: 11%;
	margin: 0 0 0 80px;
	border-radius: 10%;
	margin-top: 50px;
}
.FotoProfilo_2 img{
  display: flex;
  width: 350px;
  height: 360px;
  margin: 50px auto 0 auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 40px #00ffff;
}
.Testo{
  margin: 0px 200px 50px 200px;
	padding: 10px;
}
.Testo p{
  font-size: 20px;
  line-height: 1.6;
  margin: 0 100px 50px 100px;
  text-align: justify;
}
.Testo h2 .Enrico{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 36px;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}
.Testo h2{
  text-align: left;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 100px;
  font-size: 36px;
}
.Inizio{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-top: 50px;
}
.Inizio .Testi{
  font-size: 18px;
  text-align: left;
  margin: 50px 100px 100px 10px;
}
.Inizio .Testi h1{
  font-size: 300%;
  color: #00ffff;
  text-shadow: 0 0 10px#00ffff;
}
.Inizio .Testi h1,
.Inizio .Testi h2 {
  margin-top: 0;
}
.Inizio .FotoProfilo_1 img{
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border-radius: 50%;
  object-fit: cover;
}
.Centro h3:hover{
  list-style-type: none;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.Centro{
	display: flex;
	justify-content: center;
}
.Centro h3{
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 110px;
  color: black;
  background: #00ffff;
  padding: 20px;
  max-width: 300px;
  border-radius: 40px;
  box-shadow: 0px 4px 10px;
  width: 250px;
}
.Fine{
  display: flex;
	justify-content: center;

}
.Fine .Social svg{
  width: 70px;
  color: #00ffff;
}
.Fine .Social svg:hover{
  width: 70px;
  cursor: pointer;
  list-style-type: none;
	color: #00ffff;
  transform: scale(1.1);
}
.Lavori{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 40px;
}
.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #00ffff;
  }
  to {
    text-shadow: 0 0 20px #00ffff;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {

  .main-menu li {
    margin-right: 25px;
  }

  .Testo {
    margin: 0 40px 50px 40px;
  }

  .Testo p {
    margin: 0 40px 40px 40px;
    font-size: 18px;
  }

  .Formazione,
  .Esperienze {
    margin: 50px 40px;
  }

  .FotoProfilo_1 img {
    width: 25%;
    margin-left: 20px;
  }
}

@media (max-width: 600px) {

  .main-menu .current {
    display: flex;        
    flex-wrap: wrap;           
    justify-content: center;      
    gap: 10px;                    
    list-style: none;            
    padding: 0 10px;                 
    margin: 0;
    margin-bottom: -20px;
    box-sizing: border-box;  
  }

  .main-menu li {
    margin-right: 0;
    margin-top: 22px;
    margin-bottom: -10px;
  }

  .main-menu a {
    font-size: 14px;
  }

  .Testo {
    margin: 20px;   
    padding: 20px;            
    background-color: #1a1a1a;   
    border: 2px solid #00ffff;
    box-shadow: 0 0 15px #00ffff;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 60px;
  }

  .Testo h2{
    text-align: left;
    margin: 0 15px 20px 15px;
  }

  .Testo p {
    margin: 0 15px 30px 15px;
    font-size: 16px;
    text-align: left;
  }

  .Formazione,
  .Esperienze {
    width: 100%;     
    max-width: 100%;    
    margin: auto;      
    padding: 20px;          
    box-sizing: border-box;
    margin-top: 80px;
  }
  .Formazione h2 {
    max-width: 100%;
    overflow-wrap: break-word;
    font-size: 28px;
  }

  .Formazione ul,
  .Esperienze ul {
    padding-left: 15px;
    margin: 0;
    padding-left: 1.5em;
    list-style-position: outside;
  }

  .Formazione li,
  .Esperienze li {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .Inizio .FotoProfilo_1 img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .FotoProfilo_2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 80px;
  }

  .Inizio {
    display: flex;             
    flex-direction: column;
    align-items: center;     
    text-align: center;
    gap: 20px;
    padding: 20px;           
    box-sizing: border-box; 
    max-width: 100vw;   
    overflow-x: hidden;   
  }

  .Inizio .Testi {
    margin: 20px;
    text-align: left;
    width: 100%;
    max-width: 800px;    
    box-sizing: border-box; 
    margin-bottom: -20px;
  }

  .Inizio h1 {
    font-size: 32px;    
    width: 100%;             
    max-width: 100%;        
    margin: 0 auto;          
    padding: 0 20px;      
    box-sizing: border-box;  
    word-wrap: break-word;     
    text-align: justify;
    margin-bottom: 30px;
}

  .Inizio .Testi h1{
    font-size: 48px;
  }

  .Centro h3 {
    font-size: 22px;
    width: 100%;               
    max-width: 70%;           
    margin: 0 auto 60px auto; 
    box-sizing: border-box;
  }

  .Centro h3{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 110px;
    color: black;
    background: #00ffff;
    padding: 8px;
    max-width: 300px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px;
    width: 250px;
    width: 170px;
  }

  .Fine .Social svg {
    width: 55px;
  }

  .Lavori h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
}